*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    width:100%;
    height:100%;
    padding: 70px 0;
    background-image: url("https://answers.ea.com/ea/attachments/ea/fifa-18-technical-issues-en/1347/1/9-21-2017_2-12-52_PM.png");
    background-color: #000;
    background-size: 100% 100%;
}

.page-container {
    margin: 0 10%;
    min-height: calc(100vh - 140px);
}

.flex-y {
    display: flex;
    flex-direction: column;
}

.flex-x {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.grey-block {
    background-color: #999999;
    border: 2px solid black;
}

.first-block {
    height: 40px; 
    width: 20%;
}

.white-space {
    height: 20px; 
}

.third-block {
    width: 35%;
}

.right-last-block, .first-line-last-space {
    width: 30%;
}

.last-block {
    width: 25%;
}

.third-row {
    height: 40px; 
}

.mt-3 {
    margin-top: 3px;
}

.mb-3 {
    margin-bottom: 3px;
}

.mr-6 {
    margin-right: 6px;
}

.mtr-6 {
    margin-top: 6px;
    margin-right: 6px;
}

.mr-10 {
    margin-right: 10px;
}

.left-border-none {
    border-left: none;
}

#team_logo{
    margin: 20px;
}