
body {
    margin: 0;
    padding: 3vh 10% 3vh 10%;
    background-image: url("https://answers.ea.com/ea/attachments/ea/fifa-18-technical-issues-en/1347/1/9-21-2017_2-12-52_PM.png");
    background-color: #000;
    background-size: 100% 102%;
    background-repeat: no-repeat;
    font-size: 1.65vh;
    font-family: Arial, Geneva, Helvetica sans-serif;
}

.calendartemplate {
    width: 100%;
    height: 15vh;
    background-image: url("livetickerbg1.png");
    opacity: 0.95;
    border-radius: 6px;
    background-size: 100% 100%;
}

.leftcolumntemplate {
    display: inline-block;
    float: left;
    width: 20%;
    height: 69vh;
    background-image: url("livetickerbg1.png");
    opacity: 0.95;
    border-radius: 6px;
    background-size: 100% 100%;
    margin-top: 1vh;
    overflow: hidden;
}

.rightcolumntemplate {
    display: inline-block;
    float: right;
    width: 79%;
    padding-left: 1%;
    padding-top: 1vh;
    height: 69vh;
    overflow: hidden;
    border-radius: 6px;
}

.navrowtemplate {
    height: 7vh;
    background-image: url("livetickerbg1.png");
    opacity: 0.95;
    border-radius: 6px;
    background-size: 100% 100%;
    overflow: hidden;
}

.maincontentrowtemplate {
    height: 61vh;
    background-image: url("livetickerbg1.png");
    opacity: 0.95;
    border-radius: 6px;
    background-size: 100% 100%;
    margin-top: 1vh;
    overflow: hidden;
    border: 3px;
    border-color: #000;
}

.footertemplate {
    width: 100%;
    height: 7vh;
    margin-top: 71vh;
    background-image: url("livetickerbg1.png");
    opacity: 0.95;
    border-radius: 6px;
    background-size: 100% 100%;
    overflow: hidden;
}



.maincontentrowtemplatecreate {

    width: 30%;
    height: 35vh;

    margin-left: 35%;
    margin-right: 35%;
    background-image: url("livetickerbg1.png");
    opacity: 0.95;
    border-radius: 6px;
    background-size: 100% 100%;
    overflow: hidden;
    border: 3px;
    border-color: #000;
     display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
}


.maincontentrowtemplatelogin {
    font-size: 1.6vh;
    width: 30%;
    height: 35vh;
    margin-left: 65%;
    margin-right: 5%;
    margin-bottom: 32vh;
    background-image: url("livetickerbg1.png");
    opacity: 0.95;
    border-radius: 6px;
    background-size: 100% 100%;
    overflow: hidden;
    border: 3px;
    border-color: #000;
     display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
}

  #bltable {
        color: #222;
        margin-left: ;
        margin-top: ; 
        font-size: 2vh;
        width: 60%;
        margin-top: 2vh;
    }

    .wrapbltable {
        overflow: hidden;
        width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
    }

    #blresulttabletopic {
        text-align: center;
        margin-top: 3vh;
        margin-bottom: 1vh;
        font-size: 2vh;
    }

    #blresulttabletopicshort {
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-size: 1.5vh;
    }

    .wrapblresulttable {
    overflow: hidden;
    width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
    font-size: 2vh;
    }

    .wrapblresulttableshort {
    overflow: hidden;
    font-size: 2vh;
    }

    .wrapblresulttableshort td {
    overflow: hidden;
    text-align: center;
    font-size: 2vh;
    }

    #bltable img {
        height: 2.2vh;
    }

    #blresults img {
        height: 2.2vh;
    }

    .wrapbltable tr:nth-of-type(2), .wrapbltable tr:nth-of-type(3), .wrapbltable tr:nth-of-type(4)  {
        background-image: linear-gradient(to top, #22E312 0%, #1FFB0D 50%);
        
    }
    .wrapbltable tr:nth-of-type(5) {
    background-image: linear-gradient(to top, #7EF173 0%, #AAFCA2 50%);
    
    }
    .wrapbltable tr:nth-of-type(6), .wrapbltable tr:nth-of-type(7) {
    background-image: linear-gradient(to top, #D8D8B2 0%, #EDEDC6 50%);
    
    }
    .wrapbltable tr:nth-of-type(8), .wrapbltable tr:nth-of-type(9), .wrapbltable tr:nth-of-type(10), .wrapbltable tr:nth-of-type(11), .wrapbltable tr:nth-of-type(12), .wrapbltable tr:nth-of-type(13), .wrapbltable tr:nth-of-type(14), .wrapbltable tr:nth-of-type(15), .wrapbltable tr:nth-of-type(16){
    background-image: linear-gradient(to top, #CDCDCD 0%, #DEDEDE 50%);
    
    }
    .wrapbltable tr:nth-of-type(17) {
    background-image: linear-gradient(to top, #FF7070 0%, #FF9494 50%);
    
    }
    .wrapbltable tr:nth-of-type(18), .wrapbltable tr:nth-of-type(19){
        background-image: linear-gradient(to top, #E84141 0%, #FA5555 50%);
        
    }

    .wrapblresulttable tr:nth-of-type(3), .wrapblresulttable tr:nth-of-type(5), .wrapblresulttable tr:nth-of-type(7), .wrapblresulttable tr:nth-of-type(9)  {
    background-image: linear-gradient(to top, #BCBBBB 0%, #E1E1E1 50%);
        
    }
    .wrapblresulttable tr:nth-of-type(2), .wrapblresulttable tr:nth-of-type(4), .wrapblresulttable tr:nth-of-type(6), .wrapblresulttable tr:nth-of-type(8), .wrapblresulttable tr:nth-of-type(10) {
    background-image: linear-gradient(to top, #CDCDCD 0%, #E3E1E1 50%);
    
    }

        .wrapblresulttableshort tr:nth-of-type(3), .wrapblresulttableshort tr:nth-of-type(5), .wrapblresulttableshort tr:nth-of-type(7), .wrapblresulttableshort tr:nth-of-type(9)  {
    background-image: linear-gradient(to top, #BCBBBB 0%, #E1E1E1 50%);
        
    }
    .wrapblresulttableshort tr:nth-of-type(2), .wrapblresulttableshort tr:nth-of-type(4), .wrapblresulttableshort tr:nth-of-type(6), .wrapblresulttableshort tr:nth-of-type(8), .wrapblresulttableshort tr:nth-of-type(10) {
    background-image: linear-gradient(to top, #CDCDCD 0%, #E3E1E1 50%);
    
    }