
body {
    margin: 0;
    padding: 3vh 10% 3vh 10%;
    background-image: url("https://answers.ea.com/ea/attachments/ea/fifa-18-technical-issues-en/1347/1/9-21-2017_2-12-52_PM.png");
    background-color: #000;
    background-size: 100% 102%;
    background-repeat: no-repeat;
    font-size: 1.65vh;
}

.calendartemplate {
    width: 100%;
    height: 15vh;
    background-image: url("/Bilder/livetickerbg1.png");
    opacity: 0.95;
    border-radius: 6px;
    background-size: 100% 100%;
}

.leftcolumntemplate {
    display: inline-block;
    float: left;
    width: 20%;
    height: 69vh;
    background-image: url("/bilder/livetickerbg1.png");
    opacity: 0.95;
    border-radius: 6px;
    background-size: 100% 100%;
    margin-top: 1vh;
    overflow: hidden;
}

.rightcolumntemplate {
    display: inline-block;
    float: right;
    width: 79%;
    padding-left: 1%;
    padding-top: 1vh;
}

.navrowtemplate {
    height: 7vh;
    background-image: url("http://localhost/OOPProject/bilder/livetickerbg1.pnghttp://localhost/OOPProject/bilder/livetickerbg1.png");
    opacity: 0.95;
    border-radius: 6px;
    background-size: 100% 100%;
    overflow: hidden;
}

.maincontentrowtemplate {
    height: 61vh;
    background-image: url("http://localhost/OOPProject/bilder/livetickerbg1.png");
    opacity: 0.95;
    border-radius: 6px;
    background-size: 100% 100%;
    margin-top: 1vh;
    overflow: hidden;
    border: 3px;
    border-color: #000;
}

.footertemplate {
    width: 100%;
    height: 7vh;
    margin-top: 71vh;
    background-image: url("/Bilder/livetickerbg1.png");
    opacity: 0.95;
    border-radius: 6px;
    background-size: 100% 100%;
    overflow: hidden;
}

