
body {
        background-image: url("https://answers.ea.com/ea/attachments/ea/fifa-18-technical-issues-en/1347/1/9-21-2017_2-12-52_PM.png");
        background-color: #000;
        background-repeat: no-repeat;
        background-size: 100% 100%; 
        background-size: cover;
    }

    .kalender {
        background-color: #ccc;
        height: 150px;
        background-color: #ccc;
        background-image: url("kalender.png");
        background-size:  15% 100%;
        margin-top: 45px;
        margin-bottom: 5px;
    }

    .row {

    }

    .uibereich {
        margin-left: 10%;
        margin-right: 10%;
        height: 80%;  
    }

    .grid {
        width: 80%;
    }

    .links {
        background-color: #ccc;
        height: 653px;
    }

    .ro {
        background-color: #ccc;
        height: 100px;
        margin-bottom: 3px;
    }

    .ru {
        background-color: #ccc;    
        height: 550px;
        margin-top: 3px;
    }

    .footer {
        background-color: #999;
        padding-bottom: 0px;
        height: 100px;
        position: relative;
        width: 100%;
        margin-top: 5px;
    }
    .margin-r{
        margin-right: -20px;
    }
    @media (max-width: 767px){
        .margin-r{
            margin-right: 0px;
        }
    }