*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


/* MENU NAV */




/* LIVETICKER BEGINN */

#myProgress {
    width: 100%;
    background-color: grey;
}

#myBar {
    width: 0;
    height: 30px;
    background-color: green;
}

#spielaktionen
{
    display: flex;
}

#team_a
{
    margin-right: 250px;
}
/* LIVETICKER ENDE */

/*
####### footer #######
#### untenrum ;) #####
 */

#lauftext
{
    width: 50%;
    background-color: #999;background-image: url("/OOPProject/Bilder/livetickerbg1.png"); opacity: 0.95; border-radius: 6px;
  background-size: 100% 100%;
}

#btn_anpfiff
{
    max-width: 10%;
}